/*
 * Enter template details
 */


.eb-tabs-cont{
	display: flex;
    padding-bottom: 40px;
    padding-top: 10px;
}

.eb-tabs{
	padding-right: 15px;
    padding-left: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 5px;
    cursor: pointer;
}


.active-tab{
    color: #257add;
    border-bottom: 1px solid #2579dd;
}


.active-tab.eb-tabs a{
    color: #2578dd;
    text-decoration: none;
}

.eb-tabs a{
    color: #526069;
    text-decoration: none;
}


/*#eb_synch_form{
	display: none;
}*/

.eb-error-msg{
    padding-bottom: 30px;
}

.eb-error-msg{
    background: #ff00001a;
    box-shadow: 1px 0px 2px #ff000021;
    border-radius: 0px;
    border: 1px solid #ff000036;
    border-left: 3px solid red;
    /* display: none; */
    margin-bottom: 0px;
    margin-left: 10px;
    padding: 5px 5px 5px 10px;
    color: grey;
}

.eb-success-msg{
    background: #00800030;
    box-shadow: 1px 0px 2px #00800052;
    border-radius: 0px;
    border: 1px solid #0080003d;
    border-left: 3px solid green;
    /* display: none; */
    margin-bottom: 0px;
    margin-left: 10px;
    padding: 5px 5px 5px 10px;
    color: grey;
}



